<h1>input</h1>

In [1]:
first_name = input('insert your first name')
middle_name = input('Insert your middle name')
last_name = input('Insert your last name')

print("hello",first_name,middle_name,last_name,"!!")

insert your first nameFauzi
Insert your middle nameganteng
Insert your last nameseduniaaaaaaa
hello Fauzi ganteng seduniaaaaaaa !!

<h1>menghitung luas dan keliling persegi panjang</h1>

In [31]:
nilai_p = input('insert nilai_p')
nilai_L = input('insert nilai_L')

Luas = int(nilai_p) * (nilai_L)
keliling = 2 * (int(nilai_p) + int(nilai_L))
print = (luas =", Luas)
print = ("keliling", keliling)

insert nilai_p13
insert nilai_L20

<h1>output</h1>

In [11]:
print("08","desember","2004",sep='-')
print("08","desember","2004",sep='\n')
print("08","desember","2004",sep='/')

08-desember-2004
08
desember
2004
08/desember/2004

In [14]:
print("1","8","4","4",sep="*" * 5, end=".")

1*****8*****4*****4.

In [15]:
l = 10
p = 20

print("luas persegi dengan lebar {} dan panjang {} =".format(l,p,l*p))

luas persegi dengan lebar 10 dan panjang 20 =

In [20]:
bulan1 = "januari"
bulan2 = "februari"

print("nama-nama bulan {1},{0}".format(bulan1,bulan2))

nama-nama bulan februari,januari

In [24]:
print("nama saya {fname} {lname}".format(fname='fauzi',lname='kevin'))

nama saya fauzi kevin

<h1>indexing dan string</h1>

In [30]:
kampus = "Universitas Nusa Putra"
print(kampus[0])
print(kampus[2])

print(kampus[0:13])
print(kampus[1:])
print(kampus[-10:])
print(kampus[::-10])

U
i
Universitas N
niversitas Nusa Putra
Nusa Putra
a n

<h1>interpolasi menggunakan string</h1>

In [4]:
p = 10
l = 20

print(f'Luas persegi = {l*p}')
print(f'keliling persegi = {2*(p+l)}')

Luas persegi = 200
keliling persegi = 60

<h1>fungsi</h1>

In [5]:
student_name = "fauzi,udin,ujang"

print(student_name.split(','))
print('@'.join(student_name.split(',')))

['fauzi', 'udin', 'ujang']
fauzi@udin@ujang

In [3]:
nama = input("masukan nama")
tgl_lahir = input("masukan tanggal lahir")

tgls = tgl_lahir.split('/')
namas = nama.split()
nama1 = namas[0]
nama2 = namas[1]

print(f"nama anda: {nama}")
print(f"tgl lahir: {tgls[0]}")
print(f"bulan lahir: {tgls[1]}")
print(f"tahun lahir: {tgls[2]}")
print(f"inisial : {nama1[0]}{nama2[0]}")

masukan namafauzi fraja
masukan tanggal lahir08/12/2004
nama anda: fauzi fraja
tgl lahir: 08
bulan lahir: 12
tahun lahir: 2004
inisial : ff