<h1>Variabel dan Tiper Data</h1><hr>
Tipe Data pada python adalah:
<ol>
    <li>Float-(float)</li>
    <li>String-(str)</li>
    <li>Boolean-(bool)</li>
    <li>Integer-(int)</li>
 </ol><hr>
 <font color= "purpel" Aturan Pernamaan Variabel:
 <ul>
    <li>Tidak boleh menggunakan spasi</li>
    <li>Bersifat case sensitive=> A !=</li>
    <li>Terdiri dari huruf, angka dan karakter _ (underscore)</li>
    <li>Diawali underscore atau huruf</li>
    <li>Tidak boleh menggunakan reserved keyword</li>
 </li>

In [23]:
data_integer = 100
data_float = 50.6
data_string  = "1"
data_boolean = True

data_string
print(data_integer)
print(data_float)
print(data_string)
print(data_boolean)
dataku = 15000

100
50.6
1
True

In [8]:
print(type(data_integer))
print(type(data_float))
print(type(data_string))
print(type(data_boolean))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

<h3><font color="red"<i>Konversi Tipe data dari Integer ke (String,Float,Boolean)</h3>

In [10]:
bil1 = input("input bilangan 1:")
bil2 = input("input bilangan 2:")
hasil = bil1 + bil2
print(hasil)

input bilangan 1:30
input bilangan 2:239
30239

In [26]:
string_to_int = int(data_string)
float_to_int = int(data_float)
bool_to_int = int(data_boolean)

print (string_to_int)
print (float_to_int)
print (bool_to_int)

print(type(string_to_int))

print(type(float_to_int))
print(type(bool_to_int))

1
50
1
<class 'int'>
<class 'int'>
<class 'int'>

In [34]:
string_to_float = float(data_string)
integer_to_float = float(data_integer)
bool_to_float = float(data_boolean)

print (string_to_float)
print (integer_to_float)
print (bool_to_float)

print(type(string_to_float))
print(type(integer_to_float))
print(type(bool_to_float))

1.0
100.0
1.0
<class 'float'>
<class 'float'>
<class 'float'>

In [37]:
bool_to_str = str(data_boolean)
integer_to_str= str(data_integer)
float_to_str = str(data_float)

print (bool_to_str)
print (integer_to_str)
print (float_to_str)

print(type(bool_to_str))
print(type(integer_to_str))
print(type(float_to_str))

True
100
50.6
<class 'str'>
<class 'str'>
<class 'str'>